/* styles/index.css */

.col-sm-12 {
  background-image: url("../images/pic1.jpg");
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #f8fafc;
  margin-top: -25px;
  margin-bottom: 20px;
}

.home-container img {
  width: 100%;
}

.index-row {
  display: flex;
  flex-wrap: wrap;
  margin: 25px -144px;
  align-content: stretch;
  align-items: center;
  justify-content: center;
}

.fontcolour {
  color: #fd4766;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.fontcolour span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.fontcolour:hover span {
  transform: translateY(-100%);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.text-container {
  text-align: left;
  padding: 164px;
}

.text-container h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 2.2em;
  margin-bottom: 4px;
  font-weight: bold;
  font-style: oblique;
}

.download-btn {
  background-color: transparent;
  color: #f5f7f9;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 2px solid #f6f9fb;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  border-radius: 20px;
}

.download-btn:hover {
  background-color: #b92941;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.fontcolour {
  animation: slideUp 3s infinite;
}
@media only screen and (max-width: 767px) {
  .col-sm-12 {
    height: 50rem; /* Adjust the height for smaller screens */
    padding: 0px; /* Add padding for spacing */
    text-align: center;
    
  }

  .index-row {
    margin: 1rem -0.9rem; /* Adjust the margin for smaller screens */
  }

  .text-container {
    padding: 3rem; /* Adjust the padding for smaller screens */
  }

  .text-container h1 {
    color: rgb(112, 111, 111);
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .text-container p {
    font-size: 1.9em;
    margin-bottom: 4px;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Montserrat', sans-serif;
  }
  .download-btn {
    margin-top: 15px;
  }

}
